In [84]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [85]:
url = 'https://www.nfl.com/standings/league/2019/REG'
page = requests.get(url)
soup = BeautifulSoup(page.text, 'lxml')

In [86]:
table = soup.find_all('table', {'summary':'Standings - Detailed View'})[0]

In [87]:
column_names = [i.text for i in table.find('tr').find_all('th')]

In [88]:
rows_1 = [i.find_all('td') for i in table.find_all('tr')[1:]]

In [89]:
rows1 = []
for i in rows_1:
    rows2 = []
    rows2.append(i[0].find('div', class_ = 'd3-o-club-shortname').text)
    for j in i[1:]:
        rows2.append(j.text)
    rows1.append(rows2)

In [90]:
df = pd.DataFrame(rows1, columns = column_names)

In [91]:
df.to_excel('NFL.xlsx')

In [92]:
df.head()

,NFL Team,W,L,T,PCT,PF,PA,Net Pts,Home,Road,Div,Pct,Conf,Pct,Non-Conf,Strk,Last 5
0,Bengals,2,14,0,0.125,279,420,-141,2 - 6 - 0,0 - 8 - 0,1 - 5 - 0,0.167,2 - 10 - 0,0.167,0 - 4 - 0,1W,2 - 3 - 0
1,Lions,3,12,1,0.219,341,423,-82,2 - 6 - 0,1 - 6 - 1,0 - 6 - 0,0.000,2 - 9 - 1,0.208,1 - 3 - 0,9L,0 - 5 - 0
2,Redskins,3,13,0,0.188,266,435,-169,1 - 7 - 0,2 - 6 - 0,0 - 6 - 0,0.000,2 - 10 - 0,0.167,1 - 3 - 0,4L,1 - 4 - 0
3,Giants,4,12,0,0.250,341,451,-110,2 - 6 - 0,2 - 6 - 0,2 - 4 - 0,0.333,3 - 9 - 0,0.250,1 - 3 - 0,1L,2 - 3 - 0
4,Cardinals,5,10,1,0.344,361,442,-81,2 - 5 - 1,3 - 5 - 0,1 - 5 - 0,0.167,3 - 8 - 1,0.292,2 - 2 - 0,1L,2 - 3 - 0

In [96]:
for i in table.find_all('th'):
    title = i.text.split()
    print(i.text)

NFL Team
W
L
T
PCT
PF
PA
Net Pts
Home
Road
Div
Pct
Conf
Pct
Non-Conf
Strk
Last 5